@media(max-width: 1024px){
    
    #nav-bar li{
        display: flex;
    }
    #nav-bar #logo{
        display: flex;
    }

   #bottom-header-inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    align-items: center;
   }
    #main-content{
        padding: 2rem 1rem;
        overflow: hidden;
    }
    #main-content #subtitle{
        font-size: 3.5rem;
    }
     #especificacoes{
   margin: .5rem;
   padding: 20px;
}
   
     .row{
        display: none; 
        justify-content: space-around;
        margin-top: 2rem;
        border-top: 1px solid #333;
        align-items: center;
        gap: 20px;
    }
    .capacity h2{
        font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-top: 2rem;
}
.screen, .screen h2{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem ;
    padding: 0;
    line-height: 1.2;
}
.informations ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.informations-screen ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}
.toogle{
    margin-left: 1rem;
    font-size: 1.6rem;
    padding: 4px 10px;
    background-color: #eee;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.informations-screen li,
.informations-screen li p,
.informations-local li,
.informations-so li,
.informations-so p,
.informations-sensores li{
    font-size: 14px;
    margin-bottom: 2rem;
    width: 250px;
    text-align: justify;
}
.informations li,
.informations-sensores li{
    margin-bottom: 2rem;
}
.informations-sensores ul,
.informations-local ul,
.informations-so ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 4rem;
}
}

@media(max-width: 529px){
    #nav-bar li{
        display: none;
    }
    #nav-bar #logo{
        display: flex;
    }

    #bottom-header-links a{
        display: none;
    }
    #bottom-header-links .btn{
        display: flex;
    }
    #main-content{
        padding: 2rem;
        overflow: hidden;
    }
    #main-content #subtitle{
        font-size: 3.5rem;
    }
    #especificacoes{
        margin: .4rem;
        padding: 10px;
    }
     .row{
        display: none; 
        justify-content: space-around;
        margin-top: 2rem;
        border-top: 1px solid #333;
        align-items: center;
        gap: 20px;
    }
    .capacity h2{
        font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-top: 2rem;
}
.screen, .screen h2{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem ;
    padding: 0;
    line-height: 1.2;
}
.informations ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.informations-screen ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}
.toogle{
    margin-left: 1rem;
    font-size: 1.6rem;
    padding: 4px 10px;
    background-color: #eee;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.informations-screen li,
.informations-screen li p,
.informations-local li,
.informations-so li,
.informations-so p,
.informations-sensores li{
    font-size: 14px;
    margin-bottom: 2rem;
    width: 150px;
    text-align: justify;
}
.informations li,
.informations-sensores li{
    margin-bottom: 2rem;
}
.informations-sensores ul,
.informations-local ul,
.informations-so ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 4rem;
}
}


@media (max-width: 480px) {
  #navbar li {
    display: none;
  }

  #navbar #logo {
    display: flex;
  }

  #bottom-header-links a {
    display: none;
  }

  #bottom-header-links .btn {
    display: flex;
  }

  #main-content {
    padding: 2rem;
    overflow: hidden;
  }

  #main-content #subtitle {
    font-size: 3rem;
  }


    #especificacoes{
        margin: .4rem;
        padding: 10px;
    }
    .row{
        display: none; 
        justify-content: space-around;
        margin-top: 2rem;
        border-top: 1px solid #333;
        align-items: center;
        gap: 20px;
    }
    .capacity h2{
        font-size: 15px;
    font-weight: bold;
    margin: 0;
    margin-top: 2rem;
}
.screen, .screen h2{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem ;
    padding: 0;
    line-height: 1.2;
}
.informations ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.informations-screen ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}
.toogle{
    margin-left: 1rem;
    font-size: 1.6rem;
    padding: 4px 10px;
    background-color: #eee;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.informations-screen li,
.informations-screen li p,
.informations-local li,
.informations-so li,
.informations-so p,
.informations-sensores li{
    font-size: 12px;
    margin-bottom: 2rem;
    width: 150px;
    text-align: justify;
}
.informations li,
.informations-sensores li{
    margin-bottom: 2rem;
}
.informations-sensores ul,
.informations-local ul,
.informations-so ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 4rem;
}

}